h1{
    font-size: 40px;
}
span{
    color: orange;
}
body{
    font-family:'Times New Roman', Times, serif;
    margin: 0%;

}
.flex-container{
    display: flex;
}
.left-banner{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 5px 15px;
    font-weight: 600;
    color: white ;
    border-radius: 4px;
    
}
.left-banner img{
    width: 80%;
    padding-left: 3%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.banner{
    width: 50%;
    padding-right: 10%;
}
.orange{
    color: orange;
}
.exp-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 4%;
    padding-top: 3%;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{ 
    border-left: 6px solid tomato;
}
#baby-web{
    border-left: 6px solid blue;
}
footer p{
    text-align: center;
}